body{
    margin: 0;
    padding: 0;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
overflow: hidden;

}

.photo{
    position: relative
    ;
    width: 400px;
    height: 400px;
}

.photo img:nth-child(1){
position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;
transform-origin:left;

}


/* this part does de disapairing*/
.photo:hover img:nth-child(1){
    transition: 4s;
    transition-delay:1s;
    transform:translate(50px);
    opacity: 0; /* 0.5 or 0.2 */
    filter: blur(10px);
}


.photo img:nth-child(2)

{
    width:1200px;
    height: 400px;
    transform: translate(400px) scale(0);
    transform-origin: left;
}


.photo:hover img:nth-child(2){
    transition: 8s;
    transform: translate(-400px) scale(5);
}




